/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23. feb. 2020, 09.53.04
    Author     : Christian
*/
  .center {
                margin: auto;
                width: 25%;
                padding: 10px;
            }
            .centerTable {
                margin: auto;
                width: 40%;
                padding: 10px;
            }

            #GroupTabel {
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;

            }

            #GroupTabel td, #workflow th {
                border: 1px solid black;
                padding: 8px;
                front-size: 10px;


            }
            #GroupTabel tr:nth-child(even){background-color: #f2f2f2;}

            #GroupTabel tr:hover {background-color: #ddd;}


            #GroupTabel th {
                background-color: #4CAF50;
                border: 1px solid black;
                color: white;
                text-align: center;
                font-size: 15px;}   

            .button{
                margin: auto;
                text-align: center;
                width: 15%;
                padding: 10px;
            }
